# Libraries

In [ ]:
# Own functions
from numpy import disp
from core.data import load_competition_from_kaggle

# Data manipulation
import pandas as pd

# Visualisation
import matplotlib.pyplot as plt
import seaborn as sns

c:\Users\IAmBlindNotDeaf\Desktop\StackFuel Weiterbildung\Lernmaterial\Abschlussprojekt\Smart-Manufacturing-Predictive-Defect-Detection-on-Bosch-Production-Lines\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Preparation

**Gather Data**

In [2]:
# Download data (Kaggle Competition)
competition_name = "bosch-production-line-performance" # replace with your competition link from Kaggle 
destination = "../data/raw"

files = load_competition_from_kaggle(
    competition_name=competition_name, 
    destination=destination,
    )

print(files)

Destination directory '../data/raw\bosch-production-line-performance' already exists with files. Skipping download (replace=False).
['sample_submission.csv.zip', 'test_categorical.csv.zip', 'test_date.csv.zip', 'test_numeric.csv.zip', 'train_categorical.csv.zip', 'train_date.csv.zip', 'train_numeric.csv.zip']

In [13]:
# Load data
print("Loading numeric data...")
df_num = pd.read_csv("../data/raw/bosch-production-line-performance/train_numeric.csv.zip", nrows=100000)
display(df_num.head())

print("Loading categorical data...")
df_cat = pd.read_csv("../data/raw/bosch-production-line-performance/train_categorical.csv.zip", nrows=100000)
display(df_cat.head())

print("Loading date data...")
df_date = pd.read_csv("../data/raw/bosch-production-line-performance/train_date.csv.zip", nrows=100000)
display(df_date.head())

Loading numeric data...

,Id,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,...,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262,Response
0,4,0.030,-0.034,-0.197,-0.179,0.118,0.116,-0.015,-0.032,0.020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,7,0.088,0.086,0.003,-0.052,0.161,0.025,-0.015,-0.072,-0.225,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,9,-0.036,-0.064,0.294,0.330,0.074,0.161,0.022,0.128,-0.026,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,11,-0.055,-0.086,0.294,0.330,0.118,0.025,0.030,0.168,-0.169,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

Loading categorical data...

C:\Users\IAmBlindNotDeaf\AppData\Local\Temp\ipykernel_9808\840722520.py:7: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,41,42,43,44,45,46,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,188,189,190,191,192,193,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,324,335,337,340,342,344,346,348,351,354,357,360,363,366,369,372,375,378,381,384,387,390,393,396,399,402,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,464,467,470,473,476,479,482,485,488,491,494,497,500,503,506,509,512,515,518,549,597,611,614,617,620,623,626,629,632,635,638,641,644,647,650,653,656,659,662,665,668,671,674,677,680,683,686,689,692,695,698,701,704,707,710,713,716,719,722,808,810,812,814,816,818,819,821,822,824,825,827,828,830,831,833,834,836,842,844,845,847,848,850,851,853,854,856,857,859,860,862,863,865,866,868,869,871,872,874,875,877,878,880,881,883,884,886,887,889,890,892,893,895,896,898,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,998,1005,1007,1008,1010,1011,1013,1014,1016,1017,1019,1020,1022,1023,1025,1026,1028,1029,1031,1032,1034,1035,1037,1038,1040,1041,1043,1044,1046,1047,1049,1050,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1126,1129,1132,1135,1138,1141,1144,1147,1149,1150,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1218,1219,1220,1221,1222,1223,1224,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235,1236,1237,1238,1239,1240,1241,1242,1243,1244,1245,1246,1247,1248,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258,1259,1260,1261,1262,1263,1264,1265,1266,1267,1268,1269,1270,1271,1272,1273,1274,1275,1276,1277,1278,1279,1288,1289,1290,1291,1292,1293,1294,1295,1296,1297,1298,1300,1303,1306,1309,1312,1315,1318,1321,1324,1327,1330,1333,1336,1339,1342,1345,1348,1351,1354,1357,1360,1363,1366,1369,1372,1375,1378,1381,1384,1387,1390,1393,1419,1420,1421,1422,1423,1424,1425,1426,1427,1428,1429,1431,1434,1437,1440,1443,1446,1449,1452,1455,1458,1461,1464,1467,1470,1473,1476,1479,1482,1485,1488,1491,1494,1497,1500,1503,1506,1509,1512,1515,1518,1521,1524,1527,1530,1533,1536,1539,1542,1545,1548,1550,1552,1554,1556,1558,1560,1562,1564,1566,1568,1570,1572,1574,1576,1578,1580,1582,1584,1586,1589,1591,1593,1595,1597,1599,1601,1603,1605,1607,1609,1611,1613,1615,1617,1619,1621,1623,1625,1627,1629,1631,1633,1635,1637,1639,1642,1644,1646,1648,1650,1652,1654,1656,1657,1658,1659,1660,1661,1662,1663,1664,1665,1666,1667,1668,1669,1670,1671,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1994,1996,1997,1999,2000,2002,2003,2005,2028,2030,2031,2033,2034,2036,2037,2039,2052,2054,2055,2057,2058,2060,2061,2063,2064,2066,2067,2069,2070,2072,2073,2075,2076,2077,2078,2079,2080,2081,2082,2083,2120,2121,2122,2123,2124,2125,2126,2127,2128,2129,2130,2131,2132,2133,2134,2135,2136,2137,2138,2139,2140) have mixed types. Specify dtype option on import or set low_memory=False.
  df_cat = pd.read_csv("../data/raw/bosch-production-line-performance/train_categorical.csv.zip", nrows=100000)

,Id,L0_S1_F25,L0_S1_F27,L0_S1_F29,L0_S1_F31,L0_S2_F33,L0_S2_F35,L0_S2_F37,L0_S2_F39,L0_S2_F41,...,L3_S49_F4225,L3_S49_F4227,L3_S49_F4229,L3_S49_F4230,L3_S49_F4232,L3_S49_F4234,L3_S49_F4235,L3_S49_F4237,L3_S49_F4239,L3_S49_F4240
0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Loading date data...

,Id,L0_S0_D1,L0_S0_D3,L0_S0_D5,L0_S0_D7,L0_S0_D9,L0_S0_D11,L0_S0_D13,L0_S0_D15,L0_S0_D17,...,L3_S50_D4246,L3_S50_D4248,L3_S50_D4250,L3_S50_D4252,L3_S50_D4254,L3_S51_D4255,L3_S51_D4257,L3_S51_D4259,L3_S51_D4261,L3_S51_D4263
0,4,82.24,82.24,82.24,82.24,82.24,82.24,82.24,82.24,82.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7,1618.70,1618.70,1618.70,1618.70,1618.70,1618.70,1618.70,1618.70,1618.70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9,1149.20,1149.20,1149.20,1149.20,1149.20,1149.20,1149.20,1149.20,1149.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11,602.64,602.64,602.64,602.64,602.64,602.64,602.64,602.64,602.64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# Analyse data quality

print("Numeric Features")
display(
    "Shape",
    df_num.shape,
    "Description",
    df_num.describe().round(2).T,
    "Duplicates",
    df_num.duplicated().sum(),
)

pd.DataFrame(
    {
        "Data Types": df_num.dtypes,
        "Missing Values": df_num.isnull().sum(),
        "Unique Values": df_num.nunique(),
        "Sample Values": [df_num[col].sample(3).tolist() for col in df_num.columns]
    })

print("Categorical Features")
display(
    "Shape",
    df_cat.shape,
    "Description",
    df_cat.describe().round(2).T,
    "Duplicates",
    df_cat.duplicated().sum(),
)

pd.DataFrame(
    {
        "Data Types": df_cat.dtypes,
        "Missing Values": df_cat.isnull().sum(),
        "Unique Values": df_cat.nunique(),
        "Sample Values": [df_cat[col].sample(3).tolist() for col in df_cat.columns]
    })

print("Date Features")
display(
    "Shape",
    df_date.shape,
    "Description",
    df_date.describe().round(2).T,
    "Duplicates",
    df_date.duplicated().sum(),
)

pd.DataFrame(
    {
        "Data Types": df_date.dtypes,
        "Missing Values": df_date.isnull().sum(),
        "Unique Values": df_date.nunique(),
        "Sample Values": [df_date[col].sample(3).tolist() for col in df_date.columns]
    })

Numeric Features

'Shape'

(100000, 970)

'Description'

,count,mean,std,min,25%,50%,75%,max
Id,100000.0,100116.60,57830.69,4.00,50104.75,100148.00,150115.25,200352.00
L0_S0_F0,57915.0,-0.00,0.08,-0.40,-0.06,0.00,0.06,0.28
L0_S0_F2,57915.0,-0.00,0.09,-0.47,-0.06,0.00,0.06,0.28
L0_S0_F4,57915.0,-0.00,0.21,-0.40,-0.18,-0.03,0.29,0.57
L0_S0_F6,57915.0,-0.00,0.21,-0.42,-0.18,-0.03,0.29,0.57
...,...,...,...,...,...,...,...,...
L3_S51_F4256,5195.0,-0.00,0.00,-0.00,0.00,0.00,0.00,0.00
L3_S51_F4258,5195.0,0.00,0.02,0.00,0.00,0.00,0.00,1.00
L3_S51_F4260,5195.0,0.00,0.01,0.00,0.00,0.00,0.00,0.44
L3_S51_F4262,5195.0,0.00,0.00,0.00,0.00,0.00,0.00,0.05
Response,100000.0,0.01,0.08,0.00,0.00,0.00,0.00,1.00

'Duplicates'

np.int64(0)

Categorical Features

'Shape'

(100000, 2141)

'Description'

,count,mean,std,min,25%,50%,75%,max
Id,100000.0,100116.6,57830.69,4.0,50104.75,100148.0,150115.25,200352.0
L0_S3_F69,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
L0_S3_F71,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
L0_S3_F73,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
L0_S3_F75,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
L3_S47_F4182,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
L3_S47_F4184,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
L3_S47_F4187,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
L3_S47_F4189,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
L3_S47_F4192,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

'Duplicates'

np.int64(0)

Date Features

'Shape'

(100000, 1157)

'Description'

,count,mean,std,min,25%,50%,75%,max
Id,100000.0,100116.60,57830.69,4.00,50104.75,100148.00,150115.25,200352.00
L0_S0_D1,57915.0,873.06,501.78,0.01,402.12,904.37,1363.46,1713.71
L0_S0_D3,57915.0,873.06,501.78,0.01,402.12,904.37,1363.46,1713.71
L0_S0_D5,57915.0,873.06,501.78,0.01,402.12,904.37,1363.46,1713.71
L0_S0_D7,57915.0,873.06,501.78,0.01,402.12,904.37,1363.46,1713.71
...,...,...,...,...,...,...,...,...
L3_S51_D4255,5195.0,1031.18,428.80,1.42,558.15,1291.20,1408.50,1457.50
L3_S51_D4257,5195.0,1031.18,428.80,1.42,558.15,1291.20,1408.50,1457.50
L3_S51_D4259,5195.0,1031.18,428.80,1.42,558.15,1291.20,1408.50,1457.50
L3_S51_D4261,5195.0,1031.18,428.80,1.42,558.15,1291.20,1408.50,1457.50
L3_S51_D4263,5195.0,1031.18,428.80,1.42,558.15,1291.20,1408.50,1457.50

'Duplicates'

np.int64(0)

,Data Types,Missing Values,Unique Values,Sample Values
Id,int64,0,100000,"[34538, 33921, 148912]"
L0_S0_D1,float64,42085,15308,"[nan, 1508.74, 1441.56]"
L0_S0_D3,float64,42085,15308,"[622.25, 1096.48, 166.23]"
L0_S0_D5,float64,42085,15308,"[nan, nan, nan]"
L0_S0_D7,float64,42085,15308,"[nan, 323.18, 169.11]"
...,...,...,...,...
L3_S51_D4255,float64,94805,1292,"[nan, nan, nan]"
L3_S51_D4257,float64,94805,1292,"[nan, nan, nan]"
L3_S51_D4259,float64,94805,1292,"[nan, 518.7, nan]"
L3_S51_D4261,float64,94805,1292,"[nan, nan, nan]"
L3_S51_D4263,float64,94805,1292,"[nan, nan, nan]"

In [ ]:
fig, ax = plt.subplots(figsize=(12, 10), dpi=200)

sns.heatmap(df.corr(numeric_only=True), annot=True, cmap="coolwarm", center=0, ax=ax);